Source: rsync-huai
Section: net
Priority: optional
Maintainer: Shengjing Zhu <i@zhsj.me>
Build-Depends: libpopt-dev, libacl1-dev, libattr1-dev, yodl, debhelper (>= 9), autotools-dev, autoconf, automake, libtool
Standards-Version: 3.9.8
Homepage: http://github.com/tuna/rsync
Vcs-Git: https://github.com/ustclug/rsync.git
Vcs-Browser: https://github.com/ustclug/rsync

Package: rsync-huai
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fast, versatile, remote (and local) file-copying tool
 rsync is a fast and versatile file-copying tool which can copy locally
 and to/from a remote host. It offers many options to control its behavior,
 and its remote-update protocol can minimize network traffic to make
 transferring updates between machines fast and efficient.
 .
 It is widely used for backups and mirroring and as an improved copy
 command for everyday use.
 .
 This package provides both the rsync command line tool and optional
 daemon functionality.
